.title{
	font-size: 16px;
	color: #000;
	background: #fff;
}

.item{
	background: #fff;
	padding: 25px;
	margin-bottom: 50px;
}

.item .title{
	font-size: 14px;
	padding-right:5px;
	margin-left: 25px;
}

/*.grid{
	padding-bottom: 20px;
	padding-right: 50px;
	padding-left: 50px;
}
*/
.detail{
	background: #fff;
	padding: 25px;
}

.list{
	background-image: url("img/bg2.JPG");
	background-clip: border-box;
	padding-bottom: 20px;
	padding-right: 50px;
	padding-left: 50px;
	background-size: cover;
}

.button {
	border-radius: 10px;
	color:#fff;
	text-shadow: 0px 1px alpha (shade (#123, 1.25), 0.4);
	background-image: -gtk-gradient (linear,
	left top, left bottom,
		from (#00C5CD),
		to (#00868B));
	border:none;
	font-size: 12px;
}

.button:hover {
	background-image: -gtk-gradient (linear,
	left top, left bottom,
		from (#00C5CD),
		to (#5F9EA0));
}

.exit{
	border-radius: 15px;
	font-size: 10px;
	font-weight: bold;
	background-image: -gtk-gradient (linear,
	left top, left bottom,
		from (#D90000),
		to (#BF0000));
}

.exit:hover{
	background-image: -gtk-gradient (linear,
	left top, left bottom,
		from (#D90000),
		to (#800000));
}
